/* Resetando alguns estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS para cores */
:root {
    --background-color: #0c0c0c;
    --text-color: white;
    --highlight-color: #FFD700;
    --secondary-text-color: #e6e4da;
    --code-background: #f7f4f4;
    --code-color: black;
    --container-background: rgb(12, 12, 12);
}

/* Estilos para o container da imagem */
.image-container {
    position: fixed; /* Tornando a imagem de fundo fixa */
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden;
    z-index: -1; /* Coloca o container atrás do conteúdo */
}

.image-background {
    object-fit: cover; /* Ajusta a imagem para cobrir todo o container */
    width: 100%;
    height: 100%;
}

/* Estilos gerais para o body */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
    margin: 0; /* Remove a margem padrão do body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da viewport */
    overflow: hidden; /* Remove a barra de rolagem da página */
}

/* Estilos para o container principal */
.container {
    background-color: var(--container-background);
    width: 60%; /* Define uma largura fixa */
    height: 80%; /* Define uma altura fixa */
    max-width: 800px; /* Define uma largura máxima */
    max-height: 600px; /* Define uma altura máxima */
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 2px solid var(--highlight-color);
    overflow-y: scroll; /* Permite rolagem vertical dentro do container */
    scrollbar-width: none; /* Firefox: oculta a barra de rolagem */
    -ms-overflow-style: none; /* Internet Explorer e Edge: oculta a barra de rolagem */
    margin-left: 600px;
}

/* Esconde a barra de rolagem no Chrome, Safari e Opera */
.container::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

/* Estilos para o conteúdo do container */
.container-content {
    margin-right: 20px; /* Adiciona margem para o conteúdo não tocar a borda */
}

/* Estilos para o título */
h1 {
    text-align: left;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    font-size: 30px;
}

/* Estilos para os subtítulos */
h2 {
    color: var(--highlight-color);
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-size: 22px;
}

/* Estilos para os subtítulos menores */
h3 {
    color: var(--highlight-color);
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Estilos para os parágrafos */
p {
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 17px;
}

/* Estilos para blocos de código */
code {
    background-color: var(--code-background);
    color: var(--code-color);
    padding: 5px 8px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

pre {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    font-size: 1rem;
}

/* Estilos para listas */
ul {
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

strong {
    color: var(--secondary-text-color);
}

/* Estilos para o footer */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-text-color);
}
