<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/cpp.css') }}">
    <title>C++</title>
</head>
<body>
    <div class="container">
        <h1>C++</h1>

        <h2>O que é C++?</h2>
        <p>C++ é uma linguagem de programação que permite criar softwares e aplicativos, amplamente utilizada para desenvolver jogos e sistemas operacionais.</p>

        <h2>Exemplo prático: Criando um jogo simples</h2>
        <pre>
<code>
#include &lt;iostream&gt;

int main() {
    std::cout &lt;&lt; "Bem-vindo ao meu jogo!" &lt;&lt; std::endl;
    return 0;
}
</code>
        </pre>

        <h2>Por que aprender C++?</h2>
        <p>Aprender C++ é valioso. pois é amplamente utilizada na indústria de tecnologia e ensina a pensar logicamente.</p>
    </div>
</body>
</html>
