<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document.</title>
</head>
<body>


    <div class="video-container">
        <iframe loading="lazy" class="video-iframe"
          src="https://www.canva.com/design/DAGR9drhx04/k_kxEvTzgpsvwT4jUrXOVw/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
      </div>
      <a href="https://www.canva.com/design/DAGR9drhx04/k_kxEvTzgpsvwT4jUrXOVw/view?utm_content=DAGR9drhx04&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">
      

</body>
</html>