{% extends 'base.html' %}

{% block title %}C++{% endblock %}

{% block content %}
    <h1>C++</h1>
    <p>
        C++ é uma linguagem de programação de alto nível, desenvolvida por Bjarne Stroustrup em 1979. 
        É uma linguagem multiparadigma, permitindo a programação orientada a objetos, genérica e procedural.
    </p>
    <h2>História do C++</h2>
    <p>
        A linguagem foi criada como uma extensão do C, visando incluir recursos de orientação a objetos. 
        Desde então, C++ tem sido amplamente utilizado em aplicações de sistema, desenvolvimento de jogos, e software de alta performance.
    </p>
    <h2>Características do C++</h2>
    <p>
        C++ oferece controle de baixo nível, suporte a abstrações de alto nível, e é conhecida pela sua eficiência e desempenho.
    </p>
    <h2>Exemplo de Código em C++</h2>
    <p>
        O seguinte código demonstra um programa simples que imprime "Hello, World!" na tela:
    </p>
    <pre><code>
#include <iostream>

int main() {
    std::cout << "Hello, World!" << std::endl;
    return 0;
}
    </code></pre>
{% endblock %}
