<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/styles.css') }}">
    <title>Página Inicial</title>
</head>

<body>
    <div class="image-container">
        <img id="background-image" class="image-background" src="{{ url_for('static', filename='fotos/2196508-fundo-preto-e-dourado-luxuoso-vetor_1_1.jpg') }}" alt="Background Image">
       
        <!-- Conteúdo no canto superior direito -->
        <div class="top-right">
            <h1> Documentação <br>JAI</h1>
            <nav>
                <div class="nav-container">
                    <a href="/Documentação" class="project-presentation-button">Apresentação do Projeto</a>
                </div>
            </nav>
        </div>

        <!-- Conteúdo no canto inferior esquerdo -->
        <div class="bottom-left">
            <h1>Módulos CNQ</h1>
            <div class="button-container">
                <!-- Linha 1 de botões -->
                <div class="button-row">
                    <button class="nav-button" onclick="window.location.href='/java'">Java</button>
                    <button class="nav-button" onclick="window.location.href='/python'">Python</button>
                    <button class="nav-button" onclick="window.location.href='/cpp'">C++</button>
                </div>
                <!-- Linha 2 de botões -->
                <div class="button-row">
                    <button class="nav-button" onclick="window.location.href='/db'">Banco de Dados.</button>
                    <button class="nav-button" onclick="window.location.href='/reds'">Redes.</button>
                    <button class="nav-button" onclick="window.location.href='/pross-comp'">Processamento Computacional.</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
