{% extends 'base.html' %}

{% block title %}Tecnologia{% endblock %}

{% block content %}
    <h1>Tecnologia</h1>
    <p>
        A tecnologia é um conjunto de ferramentas, técnicas e métodos utilizados para resolver problemas e criar produtos que atendem às necessidades humanas.
    </p>
    <h2>Áreas da Tecnologia</h2>
    <p>
        As principais áreas incluem Tecnologia da Informação, Engenharia e Biotecnologia.
    </p>
    <h2>Tendências Tecnológicas</h2>
    <p>
        As tendências incluem inteligência artificial, computação em nuvem, Internet das Coisas (IoT) e big data.
    </p>
{% endblock %}
